.overlayList {
    margin: 0;
    padding: 0;
}

.overlayList__holder {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.overlayList__root {
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
}

.overlayList__root--h-left {
    justify-self: start;
}

.overlayList__root--h-right {
    justify-self: end;
}

.overlayList__root--h-middle {
    justify-self: center;
}

.overlayList__root--v-downwards {
    align-self: start;
}

.overlayList__root--v-upwards {
    align-self: end;
}

.overlayList__root--v-fromCentre {
    align-self: center;
}

.overlayList__root--active {
    opacity: 1;
}

.overlayList__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlayList__list--listSymbolsActive li .overlayList__listItemSymbol {
    display: inline;
    padding-right: 8px;
    font-style: normal;
}

.overlayList__list:not(:empty) {
    border-top: 1px solid;
    padding-top: 6px;
    margin-top: 6px;
}

.overlayList__listItem--complete {
    display: block;
    position: relative;
    width: auto;
    text-decoration: line-through;
}

.overlayList__listItem--complete .overlayList__listItemLine {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.overlayList__listItem--complete:empty {
    display: none;
}

.overlayList__root h1 {
    display: inline-block;
    font-weight: 700;
    margin: 0;
}

h1 img.emoticon {
    height: 30px;
    margin-bottom: -4px;
}

.overlayList__listItem img.emoticon {
    height: 22px;
    margin-bottom: -4px;
}